
body{
    background-color: rgba(24, 24, 24, 1);
    color: white;
}
.vp-container{
    
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin: 20px auto 10px;
    width: 80%;  
    height: 100vh;
    
}
.play-video{
    background-color: black;
    flex: 1;
    height: 100%;
    
}
.recommend-video{
    flex: 1;
}
video{
    border: 2px solid red;
}
.pInline{
    padding-inline: 5px;
}